@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap');
@import 'variable.css';
@import 'header.css';
@import 'swiper.css';
@import 'footer.css';

* {
  font: TW CEN MT, sans-serif;
  
}
body {
  top: 0px !important;
  background: var(--bg-color);
  color:var(--font-color);
}
@media screen and (max-width: 500px) {
  
  .info_title{
    font:4vw Montserrat !important;
    font-weight: bold !important;
  }
  .line{

    border-top: 0.4vw solid var(--secondary-color) !important;
    width : 10vw !important;
  }
  .divImage_slide2 {
    width:100% !important;
    height:50% !important;
  }

  .slide-flex > div > p {
    width:100% !important;
    font: 2.5vw Montserrat !important;
    margin-top:2vw !important;
  }
  

  .info_btn {
    width:30%!important;
    border-radius:2vw!important;
    padding: 1vw 2.5vw 1vw 2.5vw!important;
    font-size: 2vw!important;
    margin:3vw!important;
    font-weight:bold!important;
  }
  .info_description{
    text-align: justify !important;
    font: 3vw Montserrat !important;
    padding:4vw 8vw 4vw 8vw !important;

  }

  .info_intervenants {
    width:100% !important;

  }
  .img_intervenants {
    width:30vw !important;
  }
  .pp_intervenants { 
    width:29.9vw !important;
    
  }

  .title_intervenants {
    font: 3vw Montserrat !important;
    font-weight: bold !important;
  }
  .bio_intervenants {

    font: 2.5vw Montserrat !important;
  }
  .div_map {

    width: 100% !important;
    height:50% !important;
  }

  .text_map {
    width:100% !important;
  }
  .text_map > h4 {
    font: 4vw Montserrat !important;
    font-weight: bold !important;
  }
  .map_description {
    font: 3vw Montserrat !important;
    
  }
  .horaires {
    font: 3vw Montserrat !important;
    font-weight: 600 !important;
  }

  .bandeau_lots > h4 {

    font: 3vw Montserrat !important;
    font-weight:bold !important;

  }
  footer > div {
    width: 100% !important;
    
  }
  .footer_left > p {

    font-size: 3vw!important;
    text-align: justify;
  }
  .footer_title {
    font-size:5vw!important;
  }
  .footer_menu > li {
    font-size: 3vw!important;
  }
  .footer_right > p {
    font-size:3vw!important;
  }
  .footer_right > h4 {
    font-size:3vw!important;
  }
  .topbar {

    height: 10vw!important;
    justify-content: flex-start!important;

    
  }
  .img_light{
    width: 6vw!important;
  }
  .img_dark{
    width: 4.4vw!important;
  }
  .flag {
    width: 5vw!important;
  }
  .viptext{
    width:9vw!important;
  }
  .toptitle{
    margin-right:2vw!important;
    font-size:2.5vw!important;
  }
  .divLogo {
    width: 100%!important;
    justify-content: center!important;
  }
  .logo {
    margin-top:2vw !important;
    width: 25vw!important;
  }
  .navigation {
    flex-wrap: wrap!important;
    height: auto!important;
    padding-bottom:3vw;
  }
  .menu {
    width: 100%!important;
    flex-wrap: wrap!important;
    margin-top:2vw!important;
    margin-bottom:2vw!important;
    text-align: center!important;
  }
  .menu > li {

    width:100%!important;
    margin-bottom:3vw!important;
    font-size:4vw!important;
    
  }
  .menu a:before, .menu a:after {
    display:none!important;
  }
  .menu a:before {
    height: 0.5vw!important;

  }
  .lang_div{
    width:25%!important;
  }
  .profil_list li{
    width:40vw!important;
  }
  .profil_list li ul {
    width:100%!important;
  }
  .text_profil {
    font-size:4vw!important;
  }
  .icon_connect{
    width:5vw!important;
  }
  .lang {
    display: none;
  }
  .log_form {
    width:60%!important;
  }
  .logo_log{
    width:20vw!important;
  }
  .div_form_signin {
    width:100% !important;
  }
  label {
    font-size:3vw!important;
  }
  .signin_form > p, .log_form > p{
    font-size:3vw!important;
  }
  .form-label {
    font-size:3vw!important;
  }
  .mb-3 > input {
    height:4vh!important;
  }
  .btn{
    font-size:3vw!important;
    width:15vw!important;
  }
}
.info {
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin:4vw;
}
.info_title {
  text-align: center;
  font-size:2.2vw;
  width:100%;
  font-family: Montserrat;
  font-weight:bold;
}
.line{
  border-top: 0.2vw solid var(--secondary-color);
  width : 5vw;
}
.info_description{
  width:100%;
  text-align: justify;
  margin:2vw 2vw 1vw 2vw;
  font: 1.2vw Montserrat; 
}
.div_concours > .info_btn:hover {
  color:var(--font-color-invert);
  background-color: var(--secondary-color);
}
.info2 {
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin:1vw;
}
.div_btn {
  display: flex;
  width:100%;
  align-items: center;
  justify-content: center;
  margin:3vw 3vw 0vw 3vw;
}
.info_btn {
  width:15%;
  background-color: var(--primary-color);
  border: none;
  border-radius:2vw;
  padding: 0.5vw 2vw 0.5vw 2vw;
  font-size: 1vw;
  color:black;
  text-align:center;
  margin:2vw;
  font-weight:bold;
}
/* ============== INFO INTERVENANTS ===============*/
.div_intervenants {
  display:flex;
  flex-wrap:wrap;
  justify-content: center;
  align-items: center;
  padding:0vw 5vw 4vw 5vw;
}
.info_intervenants {
  display: flex;
  width:50%;
  align-items: center;
}
.img_intervenants {
  width:10vw;
  position: absolute;
}
.pp_intervenants {
  width:9.9vw;
  height:auto;
}
.text_intervenants {
  width:80%;
  padding:2vw;
}
.title_intervenants {
  width:100%;
  font: 1.3vw Montserrat;
  font-weight:bold;
  text-transform: uppercase;
}
.bio_intervenants {
  width:100%;
  font: 1vw Montserrat;
  text-align: justify;
}
.section_map {
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.global_map {
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin:1vw 0vw 5vw 0vw;     
}
.info_map {
  width:90%;
  margin:5vw 0vw 2vw 0vw;   
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: var(--bg-color-light);
}
.div_map {
  display: flex;
  justify-content: center;
  width: 50%;
}
.div_map > iframe {
  width:100%;
  height:100%;
}
.text_map {
  padding:5vw;
  width:50%;
}
.title_map {
  text-align: justify;
  font-size:2vw;
  margin-bottom:5vw;
  width:100%;
  font-family: Montserrat;
  font-weight:bold;
}
.map_description {
  font: 1.2vw Montserrat;
}

.horaires {
  font: 1.2vw Montserrat;
  font-weight:600;
}
/* =================== LOTS CONCOURS ===================== */
.section_lots {
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.line_lots {
  border-top: 0.2vw solid var(--secondary-color);
  width : 5vw;
  margin-bottom:4vw;
}
.bandeau_lots {
  display:flex;
  justify-content: center;
  align-items: center;
  width:100%;
  height:10vh;
  background-color:var(--primary-color);
  margin: 3vw 0vw 2vw 0vw; 
}
.bandeau_lots > h4 {
  font: 1.2vw Montserrat;
  font-weight:bold;
  margin:0;
}
.div_concours {
  display: flex;
  width:100%;
  align-items: center;
  justify-content: center;
}
.img_concours {
  width:100%;
}
.index_form {
  height:50vh;
  box-shadow: rgba(60, 66, 87, 0.12) 0px 7px 14px 0px, rgba(0, 0, 0, 0.12) 0px 3px 6px 0px;
  display:flex;
  flex-wrap: wrap;
  margin: 2vw 0vw 5vw 0vw;
  padding:2vw;
  background-color: var(--bg-color-light);
}
.mb-4{
  display: flex;
  width:100%;
  align-items: center;
  justify-content: center;
}
.mb-3 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1vw;
  width:50%;
  padding: 1vw;
}
.mb-3 > input {
  height:4vh;
}
.btn {
  border-color: var(--primary-color);
  background-color: var(--primary-color);
  color:black;
  font-weight: bold;
  width:7vw;
  height:auto;
  font-size: 1vw;
  padding:0.2vw;
  margin:2vw 0.5vw 0vw 0.5vw;
}
.btn:hover {
  background-color:var(--secondary-color) !important;
  color: var(--font-color-invert) !important;
  border-color:var(--secondary-color) !important;
}
.div_global_form {
  background: var(--bg-color-dark);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.signin_form {
  margin-top: 10vw;
}
.log_form { 
  padding: 2vw;
  margin:5vw 0 5vw 0;
  width:40%;
  background-color: var(--bg-color);;
  border-radius: 1vw;
  box-shadow: rgba(60, 66, 87, 0.12) 0px 7px 14px 0px, rgba(0, 0, 0, 0.12) 0px 3px 6px 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.log_form > p {
  width:100%;
  font-weight:normal;
  margin-left:1vw;
}
.log_form > p > a {
  font-weight:bold;
}
.div_form {
  padding-top:0;
  margin:0;
  width:100%;
}
.div_form_signin {
  padding-top:0;
  margin:0;
  width:50%;
}
.max {
  width:100%;
  text-align: center;
}
.div_form > input {
  height:2.5vw;
}
.logo_log {
  width:15vw;
}
.img_log {
  width:100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
/**********************************COMPTE INFORMATION**********************************/
.divglobal_compte {
  display: flex;
  flex-wrap: wrap;
  width:100%;
}
.log_form > h2 {
  text-align: center;
  font-weight: bold;
  width:100%;
}
.div_btn_compte {
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.last_name{
  margin-top:3vw;
}
.div_btnp > a {
  width:20%;
}
.div_btnp {
  display: flex;
  width:100%;
  align-items: center;
  justify-content: center; 
}
.info_btnp {
  width:100%; 
  font-weight: bold;
  background-color: var(--primary-color);
  border: none;
  border-radius:1vw;
  padding: 0.5vw 1vw 0.5vw 1vw;
  font-size: 1vw;
  color:black;
  text-align:center;
  margin: 5vw 1vw 10vw 1vw;
}
.info_btnp:hover{
  color:var(--font-color-invert);
  background-color: var(--secondary-color);
}
/**********************************FORMULAIRE DE LA PAGE ADMINISTRATION**********************************/
.containerForm {
  margin-top: 10vh;
  margin: 10vh 6.50vw;
}
.blocForm {
  background-color: var(--bg-color-light);
  margin-top: 10vh;
  padding: 10vh 0vh;
}
.blocForm > div {
  padding-top: 2vh;
}
.blocForm > h2 {
  text-align: center;
  padding-bottom: 5vh;
  font-family: Montserrat;
  font-weight: bold;
  font-size:2vw;
}
.formulaire {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
}
.formulaire2 {
  justify-content: center;
  height: 100%;
  width: 100%;
}
.champs {
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
}
.bio-area {
  display: flex;
  flex-wrap: wrap;
}
.bio-area > label {
  margin: 0% 3%;
}
.area {
  margin: 1% 3%;
}
.champs>input, .champs>label {
  width: 100%;
}
.select {
  display: flex;
  justify-content: center;
}
.upload, .envoyer {
  display: flex;
  justify-content: center;

}
.envoyer2 {
  display: flex;
  justify-content: center;
}
.input-group {
  border: 2px solid #e7e7e7;
  padding: 10px 15px;
  font-size: 1rem;
  border-radius: 10px;
  transition: .3s;
  border-color: gray;
}
label {
  font-size: 1.2rem;
  margin-bottom: 1vh;
}
.btn-dl {
  position: relative;
  padding: 11px 16px;
  font-size: 15px;
  line-height: 1.5;
  border-radius: 3px;
  color: #fff;
  background-color: var(--secondary-color);
  border: 0;
  transition: 0.2s;
  overflow: hidden;
}
.btn-dl input[type = "file"] {
  cursor: pointer;
  position: absolute;
  left: 0%;
  top: 0%;
  transform: scale(3);
  opacity: 0;
}
.btn-dl:hover {
  background-color: #d9a400;
}
.btn1 {
  border-color: lightgray;
  background-color: lightgray;
  border:none;
  border-radius:0.4vw;
  color:black;
  font-weight: bold;
  width:7vw;
  height:auto;
  font-size: 1vw;
  padding:0.2vw;
  margin:2vw 0.5vw 0vw 0.5vw;
}
.btn1:hover {
  background-color:gray !important;
  color: var(--font-color-invert) !important;
  border-color:gray !important;
}
.btn2 {
  padding: 5px 10px;
  text-align: center;
  border: none;
  background: gray;
  border-radius: 5px;
  font-size: 1.2rem;
  color: var(--font-color-invert);
  cursor: pointer;
  transition: .3s;
  margin: 2vw;
}
.btn2:hover {
  background-color: black;
}
a > button {
  padding: 5px 10px;
  text-align: center;
  border: none;
  background: gray;
  border-radius: 5px;
  font-size: 1.2rem;
  color: var(--font-color-invert);
  cursor: pointer;
  transition: .3s;
  margin: 2vw;
}
a > button:hover {
  background-color: black;
}
.boutons {
  display: flex;
  justify-content: space-between;
}
a > button {
  padding: 5px 10px;
  text-align: center;
  border: none;
  background: gray;
  border-radius: 5px;
  font-size: 1.2rem;
  color: var(--font-color-invert);
  cursor: pointer;
  transition: .3s;
  margin: 2vw;
}
a > button:hover {
  background-color: black;
}
.list {
  margin: 0vw 1vw;
  padding: 5px 10px;
  text-align: center;
  border: none;
  outline: none;
  background: gray;
  border-radius: 10px;
  font-size: 1rem;
  color: var(--font-color-invert);
  cursor: pointer;
}
.list > option {
  color:var(--font-color-invert);
}
.list:hover {
  color:var(--font-color-invert);
}
.recap{
  border: 2px solid #e7e7e7;
  padding: 5px 15px;
  margin: 2% 3%;
  font-size: 1rem;
  border-radius: 10px;
  transition: .3s;
  border-color: gray;
  font-size:1vw;
  font-weight:normal;
  font: 1vw/1.2vw Montserrat; 
}
/* 404 PAGE */
.div_404{
  width:100%;
  margin-top: 5vw;
}
.title_404 {
  text-align: center;
}
.info_404 {
  text-align: center;
}
/* PLAN DU SITE */
.section_plan_du_site{
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.info_plan-du-site {
  width:75%;
  height:auto; 
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: var(--bg-color);
}
.title_plan {
  text-align: center;
  font-size:1.5vw;
  margin-bottom:2vw;
  width:100%;
  font-weight:bold;
}
